{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Welcome to The Music Library!
    <br>
    There are 2000 tracks to select, and please search the song by album, artist or genre. The search uses exact search and will return fixed track results if the keywords are not correct.
    <br>
    A music library contains music-related materials for patron use. Collections may also include non-print materials, such as digitized music scores or audio recordings. Use of such materials may be limited to specific patron groups, especially in private academic institutions. Music library print collections include dictionaries and encyclopedias, indexes and directories, printed music, music serials, bibliographies, and other music literature.
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}